body {
    background-image:  url("background.jpg");
    background-image: url("background.webp");
    background-color: #cccccc;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 14px;
}
div {
    font-size: 14px;
}
ol {
    font-size: 14px;
}
/* a:link {
    color:#cc0000;
}
a:visited {
    color:3366cc;
} */
*a{
    color: hotpink;
}
*{
    font-size: 11px;
}